button {color: #fff;
    background-color: #7c42bd;
    border-color: #4a148c;}
button:disabled {    box-shadow: none;
    opacity: .65;
      cursor: not-allowed;}

#gotta_poop button:hover {color:#f5f5f5;}
.head {background:#4a148c;width:100%;max-width:100%;color:#fff;border-top:10px solid #12005e;}
.head,.main,.messages {box-shadow: 2px 2px 6px #424242;}
.head .row {width:80%; margin:0 auto;font-size:20px;line-height:50px;max-width:960px;}
.main {text-align:center;padding:10px;min-height:350px;}
.pooop {margin-top:15px;}
img {max-width:100%;height:236px;}

@media (max-width:550px) {
  input {width:100%;}
}

.main {
  opacity: 0;
  height:0;
  -webkit-transition: opacity .3s, height .3s;
  transition: opacity .3s, height .3s;
  transition-timing-function: ease-in;
}
.show {
  opacity:100;
  height:350px;
}

.messages {
  margin-top:20px;
  padding:10px;
}

.messages h1 {
  color:#4a148c;
  font-size:20px;
  border-bottom:1px solid #7c42bd;
}

#messages {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: column-reverse;
}

#messages div {
  width:100%;
  border:1px solid pink;
  padding:10;
  margin-bottom:5px;
}

#prrt, #flush {display: none;}

